---
---
<footer class="py-8 text-center bg-black border-t border-gray-800">
    <p class="text-white font-terminal text-xl">
        &copy; 2088 <span class="text-cyber-pink">BRIAN</span>. SYSTEM_ALL_RIGHTS_RESERVED.
    </p>
</footer>
